<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h1>Edit Page</h1>
    <form action = "/legos/<%=lego.id%>?_method=PUT" method = "POST">
        <img src = "<%=lego.img%>"><br/>
            Name: <input type="text" name="name" value="<%=lego.name%>"><br/>
            Series: <input type="text" name="name" value="<%=lego.series%>"><br/>
            Year: <input type="text" name="name" value="<%=lego.year%>"><br/>
            <input type="submit" value="Submit Changes">
        </form>
        <nav>
            <a href = "/new">Back to New Index</a>

    </body>
    </html>
