<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <%- include ('../partials/bootstrap-meta.ejs') %>
    <link rel="stylesheet" href="/edit.css">
    <title>Edit Your Lego</title>
</head>
<body>
    <%- include ('../partials/navbar_new.ejs') %>
<div class="section">

    <div class="edit-lego">
        <h1>Edit My Lego</h1>
        <form action = "/new/<%=lego.id%>?_method=PUT" method = "POST">
            <img src = "<%=lego.img%>"><br/>
                <h4>Name:</h4> <input class = "field" type="text" name="name" value="<%=lego.name%>"><br/>
                <h4>Series:</h4> <input class = "field" type="text" name="series" value="<%=lego.series%>"><br/>
                <div class="year">
                <h4>Year:</h4> <input class = "field" type="text" name="year" value="<%=lego.year%>"><br/>
                </div>
                <input class = "btn btn-outline-dark"  type="submit" value="Submit Changes">
            </form>

    </div>
</div>


        <footer>
            <a href = "/new">Back to New Index</a>
        </footer>

    <%- include ('../partials/bootstrap.ejs') %>
    </body>
    </html>
