<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title></title>
    <% include ../partials/bootstrap-meta.ejs %>
        <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Lego Suggestions</h1>

    <div class = "section">

        <% for (let i = 0; i < created.length; i++) {%>
            <div class = "lego">

                <%=created[i].name%>
                <img src = "<%=created[i].img%>">
                Series: <%=created[i].series%><br/>
                Year: <%=created[i].year%>

            <form action = "/new/<%=created[i].id%>?_method=DELETE" method="POST">
                <input class = "btn btn-outline-dark btn-sm"   type="submit" value="DELETE"/>
            </form>
            <a href = "/new/<%=created[i].id%>/edit">Edit</a>
        </div>
            <%}%>
        </div>
        <br/>
        <footer>
            <a href = "/new/create">Create a New Lego</a>
            <a href = "/saved">Return to My Saved Legos</a>
            
        </footer>
<% include ../partials/bootstrap.ejs %>
    </body>
    </html>
