<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>Lego Minifigures - Series <%=series%></title>
    <% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/series.css">
</head>
<body>
    <% include ../partials/navbar.ejs %>
    <heading>
        <h1> Series <%=series%></h1>
    </heading>
    <div class="pagenav">

        <%if(series > 1) {%>
            <a class = "btn btn-outline-dark" href = "/legos/<%=series-1%>/series">< Previous Series</a>
            <%}else {%>
                < Previous Series
                <%}%>

                <%if(series < 19) {%>
                    <a class = "btn btn-outline-dark"  href = "/legos/<%=parseInt(series)+1%>/series">Next Series ></a>
                    <%}else {%>
                        Next Series >
                        <%}%>

                    </div>
                    <div class="section">
                        <% for(let i = 0; i < legos.length; i++){ %>
                            <div class="lego">
                                <a class = "name" href = "/legos/<%=legos[i].id%>">
                                    <%=legos[i].name%>
                                </a>

                                <a href = "/legos/<%=legos[i].id%>">
                                    <img src = "<%=legos[i].img%>">
                                </a>
                            </div>

                            <% } %>
                        </div>
                        <br/>

                        <br/>
                        <div class="actions">
                            <a href = "/"> Back to Login Page</a>
                            <a href = "/legos">View Full Lego List</a>
                        </div>
                        <% include ../partials/bootstrap.ejs %>
                    </body>
                    </html>
