<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/series.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1> Series <%=series%></h1>

    <div class = "container">
        <% for(let i = 0; i < legos.length; i++){ %>
            <div class = "card">
                <a href = "/legos/save/<%=legos[i].id%>">
                    <%=legos[i].name%>
                </a><br/>
                <img src = "<%=legos[i].img%>"><br/>
                <form action="/saved" method="post">
                    <input type="submit" value="Add to My Collection">
                    <input type="hidden" name = "name" value="<%=legos[i].name%>">
                    <input type="hidden" name = "series" value="<%=legos[i].series%>">
                    <input type="hidden" name = "year" value="<%=legos[i].year%>">
                    <input type="hidden" name = "img" value="<%=legos[i].img%>">
                    <input type="hidden" name = "username" value="<%=username%>">
                </form>
            </div>
            <% } %>
            <a href = "/legos">Back to Index</a>

        </div>

    </body>
    </html>
