<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>Lego Minifigures - Series <%=series%></title>
<% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/series.css">
</head>
<body>
    <% include ./partials/navbar.ejs %>
    <h1> Series <%=series%></h1>
    <div class="section">
        <% for(let i = 0; i < legos.length; i++){ %>
            <div class="lego">
                <a href = "/legos/<%=legos[i].id%>">
                    <%=legos[i].name%>
                </a><br/>
                <img src = "<%=legos[i].img%>"><br/>
            </div>

            <% } %>
        </div>
        <footer>
            <a href = "/"> Back to Login Page</a>
            <a href = "/legos">View Full Lego List</a>
        </footer>
        <% include ../partials/bootstrap.ejs %>
    </body>
    </html>
