<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title><%=lego.name%></title>
    <% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/show.css">

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="section">
        <img class = "img-fluid" src = "<%=lego.img%>"><br/>
        Name: <%=lego.name%></h4><br/>
        <a href = "/legos/<%=lego.series%>/series">Series: <%=lego.series%></a>
        Year: <%=lego.year%><br/>
        <a href = "/legos" class = "btn btn-outline-primary">Back to Full Legos List</a>
        <a href = "/" class = "btn btn-outline-primary">Back to Front Page</a>


        <% include ../partials/bootstrap.ejs %>
    </div>

</body>
</html>
