<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div class = "container">
        <div class = "image">
            <img src = "<%=lego.img%>">
        </div>
        <div class = "info">
            Name: <%=lego.name%><br/>
            <a href = "/legos/<%=lego.series%>/series">Series: <%=lego.series%></a><br/>
            Year: <%=lego.year%><br/>
        </div>


    <form action="/saved" method="post">
        <input type="submit" value="Add to My Collection">
        <input type="hidden" name = "name" value="<%=lego.name%>" class = "addbox">
        <input type="hidden" name = "series" value="<%=lego.series%>" class = "addbox">
        <input type="hidden" name = "year" value="<%=lego.year%>" class = "addbox">
        <input type="hidden" name = "img" value="<%=lego.img%>" class = "addbox"><br/>

    </form>
    </div>
    <br/>
    <footer>
        <a href = "/saved">Back to My Saved Legos</a><br/>
        <a href = "/legos">Back to Full Legos List</a>
    </footer>
</body>
</html>
