<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>All the Legos</title>
<% include ../partials/bootstrap-meta.ejs %>
<link rel="stylesheet" href="/indextosave.css">
</head>
<body>

<% include ../partials/navbar_loggedin.ejs %>
<heading>
        <h1>All the Legos</h1>
</heading>

    <div class = "section">
        <% for(let i = 0; i < legos.length; i++){ %>
            <div class = "lego">
                <h5 class = "card-title"><a href = "/legos/save/<%=legos[i].id%>">
                    <%=legos[i].name%>
                </a></h4>
                <a href = "/legos/<%=legos[i].series%>/series">
                    Series <%=legos[i].series%>
                </a>
                <a href = "/legos/<%=legos[i].id%>">
                    <img src = "<%=legos[i].img%>">
                </a>
                <form action="/saved" method="post">
                    <input class = "btn btn-outline-primary btn-sm"  type="submit" value="Add to My Collection">
                    <input type="hidden" name = "name" value="<%=legos[i].name%>">
                    <input type="hidden" name = "series" value="<%=legos[i].series%>">
                    <input type="hidden" name = "year" value="<%=legos[i].year%>">
                    <input type="hidden" name = "img" value="<%=legos[i].img%>">
                    <input type="hidden" name = "username" value="<%=username%>">
                </form>
            </div>
            <% } %>
        </div>




        <nav>
            <a href="/legos/new">Create a New Lego</a>
        </nav>

        <form action="/sessions/destroy" method="post">
            <input type="submit" value="Log Out">
        </form>
<% include ../partials/bootstrap.ejs %>
    </body>
    </html>
