<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title><%=username%>'s Saved Legos</title>
    <%- include ('../partials/bootstrap-meta.ejs') %>
    <link rel="stylesheet" href="/saved.css">


</head>
<body>

    <%- include ('../partials/navbar_loggedin.ejs') %>
    <heading>
        <h1 class = "animated tada"><%=username%>'s Saved Legos</h1>
    </heading>
    

        <div class = "section">
            <% for(let i = 0; i < saved.length; i++){ %>
                <div class="lego">
                    <h5><a href = "/legos/<%=saved[i].id%>/saved"><%=saved[i].name%></a></h4>
                        <h6><a href = "/legos/<%=saved[i].series%>/series">Series <%=saved[i].series%></a></h6>
                        <a href = "/legos/<%=saved[i].id%>/saved">
                            <img src = "<%=saved[i].img%>"><a/>
                            <form action="/legos/<%=saved[i].id%>?_method=DELETE" method="POST">
                                <input class = "btn btn-outline-primary btn-sm delete" type="submit" value="Delete From My Collection">
                            </form>
                        </div>
                        <% } %>
                    </div>
                    <br/>
                    <footer>


                        <form action="/sessions/destroy" method="post">
                            <input class = "btn btn-outline-dark logout" type="submit" value="Log Out">
                        </form>
                    </footer>
                    <%- include ('../partials/bootstrap.ejs') %>
                </body>


                </html>
