<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title></title>
    <% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/series.css">
</head>
<body>
    <heading>
        <h1> Series <%=series%></h1>
    </heading>

    <div class = "section">
        <% for(let i = 0; i < legos.length; i++){ %>
            <div class = "lego">
                <a href = "/legos/<%=legos[i].id%>">
                    <%=legos[i].name%>
                </a><br/>
                <img src = "<%=legos[i].img%>"><br/>
                <form action="/saved" method="post">
                    <input class = "btn btn-outline-dark btn-sm"  type="submit" value="Add to My Collection">
                    <input type="hidden" name = "name" value="<%=legos[i].name%>">
                    <input type="hidden" name = "series" value="<%=legos[i].series%>">
                    <input type="hidden" name = "year" value="<%=legos[i].year%>">
                    <input type="hidden" name = "img" value="<%=legos[i].img%>">
                    <input type="hidden" name = "username" value="<%=username%>">
                </form>
            </div>

            <% } %>



        </div>
        <%if(series > 1) {%>
            <a href = "/legos/<%=series-1%>/series/tosave">Previous Series</a>
        <%}else {%>
            Previous Series
        <%}%>

        <%if(series < 19) {%>
            <a href = "/legos/<%=parseInt(series)+1%>/series/tosave">Next Series</a>
        <%}else {%>
            Next Series
        <%}%>

        <footer>
            <a href = "/legos/tosave">Save Legos From Full List</a>
            <a href = "/saved"> Back to My Saved Legos</a>
            <form action="/sessions/destroy" method="post">
                <input type="submit" value="Log Out">
            </form>
        </footer>


        <% include ../partials/bootstrap.ejs %>
    </body>
    </html>
