<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title></title>
<% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/show.css">

</head>
<body>

    <% include ../partials/navbar_loggedin.ejs %>
    <div class = "section">
            <img class = "img-fluid" src = "<%=saved.img%>"><br/>
            Name: <%=saved.name%><br/>
            <a href = "/legos/<%=saved.series%>/series/tosave">Series: <%=saved.series%></a>
            Year: <%=saved.year%><br/>
            <form action="/saved/<%=saved.id%>/saved?_method=DELETE" method="POST">
                <input class = "btn btn-outline-primary" type="submit" value="Delete From My Collection">
            </form>

    <footer>
        <a href = "/saved">Back to My Saved Legos</a>
    </footer>

    </div>
    <% include ../partials/bootstrap.ejs %>
</body>
</html>
