<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title></title>
<% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/show.css">

</head>
<body>

    <% include ../partials/navbar_loggedin.ejs %>
    <div class = "section">
            <img class = "img-fluid" src = "<%=lego.img%>"><br/>
            Name: <%=lego.name%><br/>
            <a href = "/legos/<%=lego.series%>/series/">Series: <%=lego.series%></a>
            Year: <%=lego.year%><br/>
            <form action="/legos/<%=lego.id%>?_method=DELETE" method="POST">
                <input class = "btn btn-outline-primary" type="submit" value="Delete From My Collection">
            </form>

    <div class = "actions">
        <a href = "/legos/saved">Back to My Saved Legos</a>
    </div>

    </div>
    <% include ../partials/bootstrap.ejs %>
</body>
</html>
