<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title></title>
    <% include ../partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/show.css">

</head>
<body>
    <% include ../partials/navbar_loggedin.ejs %>
    <div class="section">
        <img class = "img-fluid" src = "<%=lego.img%>"><br/>

        Name: <%=lego.name%></h4><br/>
        <a href = "/legos/<%=lego.series%>/series">Series: <%=lego.series%></a>
        Year: <%=lego.year%><br/>


        <form action="/saved" method="post">
            <input class = "btn btn-outline-primary" type="submit" value="Add to My Collection">
            <input type="hidden" name = "name" value="<%=lego.name%>">
            <input type="hidden" name = "series" value="<%=lego.series%>">
            <input type="hidden" name = "year" value="<%=lego.year%>">
            <input type="hidden" name = "img" value="<%=lego.img%>"><br/>
            <input type="hidden" name = "username" value="<%=username%>">

        </form>


        <footer>
            <a href = "/saved">Back to My Saved Legos</a><br/>
            <a href = "/legos/tosave">Back to Full Legos List to Save</a>
        </footer>

    </div>
    <% include ../partials/bootstrap.ejs %>
</body>
</html>
